<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SixteenOne-CSS</string>
	<key>ordering</key>
	<array>
		<string>0D89C37A-E031-4F41-838E-E71FA925DFBD</string>
		<string>B0D56F72-3D62-4A6F-9E2F-FBFD27F52406</string>
		<string>B5C624BD-5E68-46D0-8FAE-06D618580E8D</string>
		<string>E5110462-2059-4009-AEBA-B3834AFBCC98</string>
		<string>0DE26E84-5EB6-4278-AA81-91CF538AF68F</string>
		<string>05B7928B-84B2-47FF-9CBD-AB39DBAD32CB</string>
		<string>55D704BB-704B-4AE7-B753-54736F6A2B33</string>
		<string>093671A6-D43A-4F4D-829C-227BC3DF356D</string>
		<string>4A745280-1851-49E4-BAFA-B426C9EADD28</string>
	</array>
	<key>uuid</key>
	<string>DE4C13A7-0A3F-4B24-8DC1-0EC8284FEDCD</string>
</dict>
</plist>
